@model Ticket
@{
    Layout = "_Layout";
    ViewData["Title"] = "Добавление билетов";
}

<h1>Создание билетов</h1>
<form asp-controller="Ticket" asp-action="Create">
    <div class="form-group col-md-4">
        <label asp-for="SeatNavigation.WagonNavigation.TrainWagonNavigation.TrainNavigation.IdTrain" class="control-label">Поезд</label>
        <select asp-for="SeatNavigation.WagonNavigation.TrainWagonNavigation.TrainNavigation.IdTrain" asp-items="ViewBag.Trains"></select>
    </div>
    <div class="form-group col-md-4">
        <label class="control-label">Количество вагонов</label>
        <input type="number" id="numberOfWagons" required="" min="1" max="30" name="numberOfWagons" />
    </div>
    <div class="form-group col-md-4">
        <label asp-for="TrainDepartureTownNavigation.IdTrainDepartureTown" class="control-label">Город отправления</label>
        <select asp-for="TrainDepartureTownNavigation.IdTrainDepartureTown" asp-items="ViewBag.DepartureTowns"></select>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="TrainArrivalTownNavigation.IdTrainArrivalTown" class="control-label">Город прибытия</label>
        <select asp-for="TrainArrivalTownNavigation.IdTrainArrivalTown" asp-items="ViewBag.ArrivalTowns"></select>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="TicketDate" class="control-label">Время отправления</label>
        <input type="datetime-local" asp-for="TicketDate" class="form-control" />
        <span asp-validation-for="TicketDate" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="TicketTravelTime" class="control-label">Время в пути</label>
        <input type="time" asp-for="TicketTravelTime" class="form-control" />
        <span asp-validation-for="TicketTravelTime" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary col-md-4">Продолжить</button>
</form>