<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="shortcut icon" type="image/ico" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            @if (!User.IsInRole("admin")) {
                <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                    <img src="~/images/railways.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    Railways
                </a>
            } else {
                <a class="navbar-brand" asp-action="Passengers" asp-controller="Admin">
                    <img src="~/images/railways.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    Railways
                </a>
            }
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    @if (!User.IsInRole("admin")) {
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Home" class="nav-link">Главная</a>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("passenger")) {
                        <li class="nav-item">
                            <a asp-action="History" asp-controller="Home" class="nav-link">История заказов</a>
                        </li>
                    }
                    @if (User.IsInRole("admin")) { 
                        <li class="nav-item">
                            <a asp-action="Passengers" asp-controller="Admin" class="nav-link">Пользователи</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Tickets" asp-controller="Admin" class="nav-link">Билеты</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Sales" asp-controller="Admin" class="nav-link">Продажи</a>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav ml-auto">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("passenger")) {
                        <li class="nav-item">
                            <a asp-action="Profile" asp-controller="Account" class="nav-link">@User.Identity.Name </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Logout" asp-controller="Account" class="nav-link"> Выход</a>
                        </li>
                    } else if (User.Identity.IsAuthenticated && User.IsInRole("admin")) {
                        <li class="nav-item">
                            <a asp-action="Logout" asp-controller="Account" class="nav-link"> Выход</a>
                        </li>
                    } else {
                        <li class="nav-item">
                            <a asp-action="register" asp-controller="account" class="nav-link">Регистрация</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="login" asp-controller="account" class="nav-link">Вход</a>
                        </li>
                    }

                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted"></footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
