@model IEnumerable<Train>
@{
    ViewData["Title"] = "Поезда";
    Layout = "_Layout";
}

<h1>Поезда</h1>
<p>
    <a asp-action="Create">Добавить новый поезд</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Поезд</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>@item.TrainName</td>
                    <td>
                        <a asp-action="Edit" asp-controller="Train" asp-route-id="@item.IdTrain">Изменить поезд</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>